---
layout: nil
---

<!doctype html>

<!--
   ___ ____      _ _            _____     _     _   _
  |_  |    \ ___| | |___ ___   |  _  |___|_|___| |_|_|___ ___
  |_  |  |  | .'| | | .'|_ -|  |   __|  _| |   |  _| |   | . |
  |___|____/|__,|_|_|__,|___|  |__|  |_| |_|_|_|_| |_|_|_|_  |
                                                         |___|
-->

<html>
  <head>
    <meta charset="utf-8">

    <link href="http://fonts.googleapis.com/css?family=Roboto+Slab:700" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Roboto:100,400,700" rel="stylesheet">
    <link href="http://yui.yahooapis.com/3.13.0/build/cssreset/cssreset-min.css" rel="stylesheet">

    <style>
      {% include css/3dp.css %}

      {% include css/sidebar.css %}
      {% include css/home.css %}
      {% include css/about.css %}
      {% include css/media.css %}
      {% include css/inspiration.css %}
      {% include css/contact.css %}
      {% include css/map.css %}
    </style>

    <title>3Dallas Printing</title>
  </head>

  <body>
    <div class="sidebar">
      {% include html/sidebar.html %}
    </div>

    <div class="pages">
      <div class="page" id="home">
        <div class="container">
          {% include html/home.html %}
        </div>
      </div>

      <div class="page" id="about">
        <div class="container">
          {% include html/about.html %}
        </div>
      </div>

      <div class="page" id="media">
        <div class="container">
          {% include html/media.html %}
        </div>
      </div>

      <div class="page" id="inspiration">
        <div class="container">
          {% include html/inspiration.html %}
        </div>
      </div>

      <div class="page" id="contact">
        <div class="container">
          {% include html/contact.html %}
        </div>
      </div>

      <div class="page" id="map">
        <div class="container">
          {% include html/map.html %}
        </div>
      </div>
    </div>

    <div class="lightbox">
      <div id="lightbox"></div>
    </div>

    <script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
    <script>
      {% include js/3dp.js %}
    </script>
  </body>
</html>
