#map {
  background: url('../images/map.jpg') repeat scroll left top / cover transparent;
  left: 500%;
}

#map .container {
  height: 100%;
  padding: 0;
}

#map a {
  display: block;
  height: 100%;
  text-indent: -9999px;
  width: 100%;
}
