<h1>
  Here Is What We<br>
  Can Do For You
</h1>

<p>
  3Dallas Printing allows for manufacturers to bring prototype designs to
  life in a fraction of time and cost --- allowing your products get through
  the test phases rapidly, get approvals quickly, and get to market or put in
  production use faster than ever before. Cut your lead times in half and see
  your designs take shape faster than ever before with three-dimensional
  additive manufacturing. 3Dallas printing in DFW is one of the best ways to
  test fit, form, and function using 3D print technology using the Eden260V
  printer.
</p>

<hr>

<h3>Capabilities</h3>

<ul class="left">
  <li>
    designs printed with precision in a single piece three-dimensional format
  </li>

  <li>
    accurate and rapid prototype specs, utilizing digital creation with no
    margin of error
  </li>

  <li>
    capable of filling a 10x10x8 table with multiple objects or a single piece
  </li>

  <li>
    with correct digital files, prototypes can be ready for review and testing
    within hours
  </li>
</ul>

<ul class="right">
  <li>
    fixture and mold building
  </li>

  <li>
    solid-state prototype through additive manufacturing, where objects are
    created by sequential layering to produce a single piece
  </li>

  <li>
    JIT manufacturing and reverse engineering
  </li>

  <li>
    prints ultrafine 16 micron layers for exceptional detail, complex
    geometries and very thin walls
  </li>
</ul>

<ul class="clear">
  <li>
    non-toxic, environmentally safe
  </li>
</ul>

<img src="static/images/eden-260v.png">
