<h1>Give Us A Call</h1>

<p class="body">
  3Dallas Printing can produce rapid prototypes up to 10 x 10 x 8 square inches
  and the potential for what types of objects they can print are nearly
  unlimited. Anyone with a design file and design concept can print in 3D.
  Whether you are creating a new product or redesigning products, contact us
  today to get started on your project.
</p>

<div class="aside">
  <a href="mailto:print@3dallasprinting.com">
    <img src="static/images/submit.png">
  </a>

  <p>
    .STL files only. Please contact us for a print quote or for more
    information on orders.
  </p>
</div>

<ul>
  <li>
    <img src="static/images/phone-big.png">
    <span>
      Please call <a href="tel:9729071803">972.907.1803</a><br>
      for more information,
    </span>
  </li>

  <li>
    <img src="static/images/email-big.png">
    <span>
      or email us at<br>
      <a href="mailto:print@3dallasprinting.com">print@3dallasprinting.com</a>
    </span>
  </li>
</ul>

<h2>"Our Queue Will Never Be Full"</h2>
