<video autoplay height="900" loop width="1600">
  <source src="static/videos/3dp.mp4" type="video/mp4">
</video>

<div class="wrapper">
  <h1>
    DFW finally<br>
    has a real<br>
    3D Print Shop
  </h1>

  <h2>The perfect solution for your rapid prototyping needs.</h2>

  <a href="mailto:print@3dallasprinting.com">
    <img src="static/images/submit.png">
  </a>

  <p class="notice">
    .STL files only. Please contact us for a print quote or for more information
    on orders.
  </p>

  <p class="box">
    We used to say, "Think outside the box."<br>
    But now we ask you: "What can you create INSIDE the box?"
  </p>

  <p class="tagline">...Whatever you want to create, 3Dallas can print it</p>
</div>
