<h1>Inspiration</h1>

<blockquote>
  "I needed a prototype completed by 5pm on Friday --- and it was Wednesday at
  noon. I’d been told by other manufacturers that it would be at least a week
  to see a rough prototype. I didn’t have that kind of time so I called 3Dallas
  Printing. By 5pm on Thursday, I had my final prototype in hand. That weekend
  at a trade show I’d sold five major accounts on my product using the
  prototype."
</blockquote>
<cite>- John H., bicycle accessories maker</cite>

<blockquote>
  "Our traditional methods for making prototypes included an overseas trip, at
  least 4 versions and machine fees that always took us over budget. With how
  precise the prototypes are from 3Dallas Printing and how fast they complete
  the jobs, we are moving faster than ever before. It has drastically cut down
  our lead times."
</blockquote>
<cite>- Mike W., civil engineer</cite>

<h2>Types of industries that use 3D printing:</h2>

<ul class="left">
  <li>civil engineering</li>
  <li>aeronautical engineering</li>
  <li>medical fields such as dental and orthopedic</li>
  <li>architecture</li>
</ul>

<ul class="right">
  <li>industrial design</li>
  <li>automotive design</li>
  <li>education</li>
  <li>sporting goods, bicycles</li>
</ul>
