<a class="logo" href="#home">
  <img src="static/images/3dp.png">
</a>

<ul class="nav">
  <li>
    <a href="#about">
      About
    </a>
  </li>

  <li>
    <a href="#examples">
      Examples
    </a>
  </li>

  <li>
    <a href="#testimonials">
      Testimonials
    </a>
  </li>

  <li>
    <a href="#contact">
      Contact
    </a>
  </li>

  <li>
    <a href="#map">
      Map
    </a>
  </li>
</ul>

<ul class="contact">
  <li>
    <a href="tel:9729071803">
      <img src="static/images/phone.png">
      <span>972.907.1803</span>
    </a>
  </li>

  <li>
    <a href="mailto:print@3dallasprinting.com">
      <img src="static/images/email.png">
      <span>Email Us</span>
    </a>
  </li>
</ul>

<ul class="social">
  <li class="facebook">
    <a href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2F3dallasprinting.com">
      <img src="static/images/facebook.png">
    </a>
  </li>

  <li class="twitter">
    <a href="https://twitter.com/intent/tweet?url=http%3A%2F%2F3dallasprinting.com">
      <img src="static/images/twitter.png">
    </a>
  </li>

  <li class="share">Share</li>
</ul>
