html,
body {
  font: 16px/20px Roboto, sans-serif;
  height: 100%;
}

/* Pages */

.pages {
  min-height: 100%;
  margin-left: 185px;
  position: relative;
}

.page {
  min-height: 100%;
  overflow-y: auto;
  position: absolute;
  width: 100%;
}

.container {
  padding: 20px;
}

/* Lightbox */

.lightbox {
  background:
    url('images/loading.gif') no-repeat center,
    rgba(0, 0, 0, 0.5);
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
}

#lightbox {
  background: no-repeat center / contain;
  height: 90%;
  left: 5%;
  position: absolute;
  top: 5%;
  width: 90%;
}
