#home {
  background: #00253d;
  left: 0;
}

#home .container {
  padding-left: 40px;
}

#home h1 {
  color: #ffffff;
  font: bold 100px/96px 'Roboto Slab', sans-serif;
  letter-spacing: 1px;
}

#home h2 {
  color: #199ad6;
  font: bold 32px/1 Roboto, sans-serif;
  margin: 54px 0 0 4px;
}

#home img {
  margin: 36px 0 0 2px;
}

#home .notice {
  color: #666666;
  font: 12px/14px Roboto;
  margin: 4px 0 0 2px;
  width: 313px;
}

#home .box {
  color: #2899db;
  font: bold 20px/24px Roboto;
  margin: 25px 0 0 4px;
}

#home .tagline {
  color: #ffffff;
  font: bold 18px/20px Roboto;
  margin: 2px 0 0 2px;
}
