#inspiration {
  background: #00adee;
  left: 300%;
}

#inspiration h1 {
  color: #ffffff;
  font: 100 italic 70px/100px roboto;
  margin-top: 35px;
}

#inspiration blockquote {
  color: #ffffff;
  font: bold 20px/24px roboto;
  margin-top: 16px;
}

#inspiration cite {
  color: #ffffff;
  float: right;
  font: bold 20px/24px roboto;
}

#inspiration h2 {
  color: #444444;
  font: bold 20px/24px roboto;
  margin-top: 55px;
}

#inspiration ul {
  color: #ffffff;
  font: bold 16px/24px roboto;
  list-style: none;
  margin-top: 16px;
}

#inspiration .left {
  float: left;
}

#inspiration .right {
  float: left;
  margin-left: 70px;
}
