<a class="logo" href="#home">
  <img alt="3Dallas Printing" height="185" src="/static/images/3dallas-printing.png" width="185">
</a>

<ul class="nav">
  <li>
    <a href="#about">
      About
    </a>
  </li>

  <li>
    <a href="#media">
      Media
    </a>
  </li>

  <li>
    <a href="#inspiration">
      Inspiration
    </a>
  </li>

  <li>
    <a href="#contact">
      Contact
    </a>
  </li>

  <li>
    <a href="#map">
      Map
    </a>
  </li>
</ul>

<ul class="contact">
  <li>
    <a href="tel:9729071803">
      <img alt="" height="20" src="/static/images/phone.png" width="20">
      972.907.1803
    </a>
  </li>

  <li>
    <a href="mailto:print@3dallasprinting.com">
      <img alt="" height="20" src="/static/images/email.png" width="20">
      Email us
    </a>
  </li>
</ul>

<ul class="social">
  <li>
    <a href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2F3dallasprinting.com">
      <img alt="Share on Facebook" height="37" src="/static/images/facebook.png" width="37">
    </a>
  </li>

  <li>
    <a href="https://twitter.com/intent/tweet?url=http%3A%2F%2F3dallasprinting.com">
      <img alt="Share on Twitter" height="37" src="/static/images/twitter.png" width="37">
    </a>
  </li>

  <li>Share</li>
</ul>
