<!doctype html>

<html>
  <head>
    <meta charset="utf-8">

    <link href="http://fonts.googleapis.com/css?family=Roboto+Slab:700" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">

    <link href="/static/styles/normalize.css" rel="stylesheet">
    <link href="/static/styles/960.css" rel="stylesheet">
    <link href="/static/styles/main.css" rel="stylesheet">

    <title>3Dallas Printing</title>
  </head>

  <body>
    {{ content }}
  </body>
</html>
